:root {
  --h1: 7rem;
  --h2: 6rem;
  --h3: 3rem;
  --h4: 2.5rem;
  --h5: 1.6rem;
}
.dark{
--darkblue:#000000;
--purple: rgb(234, 215, 255);
--pink: rgb(84, 0, 42);
--yellow: rgb(2, 95, 50);

--first: var(--darkblue);
--second: var(--purple);
--third: var(--light-imgtwo);
--fourth: var(--yellow);
}
.light{
--lightpurple: rgb(147, 64, 255);
--lightpink:rgb(0, 0, 0);
--lightblue: rgb(2, 20, 101);
--lightgreen: rgb(211, 255, 211);

--first: var(--lightpurple);
--second: var(--lightpink);
--third: var(--lightblue);
--fourth: var(--lightgreen);
}
head,
body,
* {
font-family: 'Rowdies';
text-align: center;
border-radius: 20px;
border-color: aliceblue;
background-color: var(--first);
}

/* .display{
display: flex;
justify-content: space-between;
flex-direction: row;
flex-wrap: wrap;
margin: 20;
padding: 25;
text-align: center;
} */
h1{
color: var(--fourth);
font-size: var(--h2);
}
.btn{
color: var(--second);
font-size: var(--h4);
}
.order{
color: var(--fourth);
font-size: var(--h3);
}
.img{
width: 40vh;
height: 55vh;
align-items: center;
}
.text{
  text-align: center;
}




