*{
background-color: whitesmoke;
text-align: center;
object-position: center;
border-radius: 15px;
}

:root{
  font-family: 'Merriweather', serif;
  --h1: 6rem;
  --h2: 5rem;
  --h3: 4rem;
  --h4: 3rem;
}
.title{
  font-size: var(--h1);
  text-align: center;
}
.btn {
border-weight: 10px;
border-color: rgb 
}
